body {
  margin: 0;
  font-family:
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    'Roboto',
    'Oxygen',
    'Ubuntu',
    'Cantarell',
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family:
    source-code-pro,
    Menlo,
    Monaco,
    Consolas,
    'Courier New',
    monospace;
}

.display {
  width: 300px;
  background-color: black;
}

.result, .process {
  width: 100%;
  height: 30px;
  color: white;
}

.button-panel {
  width: 300px;
}

.group-1, .group-2, .group-3, .group-4, .group-5 {
  width: 100%;
}

.button {
  width: 25%;
  height: 2rem;
}